<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../../node_modules/bulma/css//bulma.min.css" rel="stylesheet" />
        <link href="../../node_modules/font-awesome/css/font-awesome.min.css" />
        <script defer src="../../node_modules/htmx.org/dist/htmx.min.js"></script>
        <script defer src="../../node_modules/htmx.org/dist/ext//client-side-templates.js"></script>
        <script defer src="../../node_modules/mustache/mustache.min.js"></script>
        <title>Client Side Templates</title>
    </head>
    <body>
        <div hx-ext="client-side-templates">
            <div class="columns mt-3 is-centered">
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-header-title title is-4">Character search</h2>
                        </div>
                        <div class="card-content">
                            <form
                                hx-get="https://swapi.dev/api/people"
                                hx-target="#target"
                                hx-swap="innerHTML"
                                mustache-template="person"
                            >
                                <div class="field">
                                    <label class="label">Person name</label>
                                    <div class="control">
                                        <input
                                            class="input"
                                            name="search"
                                            type="text"
                                            placeholder="Enter a character's name"
                                        />
                                    </div>
                                </div>
                                <button class="button is-info is-light" type="submit">OK</button>
                            </form>
                            <h2 class="is-size-4 mt-3">Results</h2>
                            <div class="box mt-3" id="target" style="overflow: hidden"></div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-header-title title is-4">Character search - Get them all</h2>
                        </div>
                        <div class="card-content">
                            <button
                                type="button"
                                class="button is-info is-light"
                                hx-get="https://swapi.dev/api/people"
                                hx-target="#listTarget"
                                hx-swap="innerHTML"
                                hx-trigger="click"
                                mustache-template="personAll"
                            >
                                Get them all!
                            </button>
                            <h2 class="is-size-4 mt-3">Results</h2>
                            <div class="box mt-3" id="listTarget" style="overflow: hidden"></div>
                        </div>
                    </div>
                </div>
            </div>

            <template id="person">
                {{#results}}
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" value="{{name}}" readonly />
                    </div>
                </div>
                <div class="field">
                    <label class="label">Height</label>
                    <div class="control">
                        <input class="input" type="text" value="{{height}}" readonly />
                    </div>
                </div>
                <div class="field">
                    <label class="label">Hair color</label>
                    <div class="control">
                        <input class="input" type="text" value="{{hair_color}}" readonly />
                    </div>
                </div>
                <div class="field">
                    <label class="label">SWAPI-Url</label>
                    <div class="control">
                        <input class="input" type="text" value="{{url}}" readonly />
                    </div>
                </div>
                {{/results}}
            </template>

            <template id="personAll">
                <ul style="list-style-type: disc;">
                    {{#results}}
                    <li>{{name}}</li>
                    {{/results}}
                </ul>
            </template>
        </div>
    </body>
</html>
